<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src='/scripts/app.js'></script>
  <script type="text/javascript" src='/scripts/maps.js'></script>
  <script type="text/javascript" src='/scripts/pins.js'></script>
  <script type="text/javascript" src='/scripts/favourties.js'></script>
  <script type="text/javascript" src='/scripts/login.js'></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />


</head>

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">WikiMap</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a id='login' class="nav-item nav-link ml-auto" href="/login/Bob">Login</a>
      </div>
    </div>
  </nav>
</header>

<body>
  <section id="top">

    <div id="mapid"></div>
    <div id='top-form'>
      <button class="create-map-button">Back to create a map</button>
      <div id="form">
        <form action="/maps method="POST" id="map-form">
          <h3>Create a new map</h3>
          <div><label for="title-input">Title:</label></div>
          <div><input id="title-input" type="text" name="name"><br></div>
          <div><label for="description-input">Description:</label></div>
          <div><input id="description-input" type="text" name='description'><br></div>
          <button id="button-submit" type="submit">add</button>
        </form>
      </div>
      <div id="edit-map">
        <!-- this div is used for testing showing single maps -->
      </div>
    </div>
  </section>
  <i id='favourite-map-heart' class="fas fa-heart" style='color:red'> Favourite this map</i>
  <section id="mapContainer">
    <div class="square-view-all-maps">
      <h3 class="heading">All Maps</h3>
    </div>
    <div class="square-fav-maps">
      <h3 class="heading">Favorite Maps</h3>
    </div>
    <div class="square-user-contributions">
      <h3 class="heading">square-user-contributions</h3>
    </div>
  </section>

</html>
