// See: https://sass-lang.com/

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}

#mapid {
  height: 480px;
  width: 60%;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#form-new-map {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.fa-heart:hover {
  color: blue;
  display: flex;
  
}

#user-file {
  border-style: 200px, solid, black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mapContainer {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  // border: solid;
}

.square-view-all-maps {
  border: solid;
}

.square-fav-maps {
  border: solid;
}

.square-user-contributions {
  border: solid;
}


#popupButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
