// See: https://sass-lang.com/

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}

// scrollbar for the entire page
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

#top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#mapid {
  height: 480px;
  width: 80%;
}

#top-form {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
}

#form {
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-map-button {
  display: none;
}
#form-new-map {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-map {
  z-index: 1;
  padding-top: 50px;
}

.fa-heart:hover {
  color: blue;
  display: flex;
}

#user-file {
  color: #244751;
  background: transparent;
  border: 2px solid #0099cc;
  border-radius: 6px;
  overflow: hidden;
  overflow-y: scroll;
}

#mapContainer {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  padding-top: 20px;
}

.square-view-all-maps {
  // border: solid;
  text-align: center;
  display: block;
  justify-content: space-between;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  overflow-y: scroll;
  height: 120px;

  button, input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

  }

  #user-file:hover {
    background-color: #008cba;
    color: white;

  }
}

// .map-name {
//   color: #244751;
//   background: transparent;
//   border: 2px solid #0099cc;
//   border-radius: 6px;
//   overflow: hidden;
//   overflow-y: scroll;
// }

// .map-name:hover {
//   background-color: #008cba;
//   color: white;
// }

.square-fav-maps {
  text-align: center;
  display: block;
  justify-content: space-between;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  overflow-y: scroll;
  height: 120px;

  div {
    color: #244751;
    background: transparent;
    border: 2px solid #0099cc;
    border-radius: 6px;
    overflow: hidden;
    overflow-y: scroll;
  }

  div:hover {
    background-color: #008cba;
    color: white;

  }
}
// #user-file {
//   text-align: center;
// }

.fav-map-input {
  display: flex;
  color: blue;
}
#popupButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

